
* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Montserrat', sans-serif;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.wrapper{
	width: 1500px;
	max-width: 90%;
	margin:0 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}


#top_header {
	padding: 1em 0 ;
	background-color: #E1E3E4;
}

#top_header .logo {
	float: left;
	text-transform:uppercase;
	font-size: 2em;
	font-weight:700; 
}

.logo span {
	font-weight: 500;
	color:red;
}

#main_nav {
	float: right;
	font-size: 1.5em;
	padding-top:1.3em; 
}

#main_nav  a {
	color: #313131;
	text-decoration: none;
	margin-left: 1em;
}

#banner {
	background: url(../img/banner_background.jpeg);
	background-repeat: no-repeat;
	background-size:cover;
	width:100%; 
	padding:7em 0;
}

.banner_content_wrapper {
	width: 1500px;
	max-width: 90%;
	margin:0 auto;
	text-align: center;
}

.banner_content_wrapper p {
	font-weight: 500;
	font-size :5em;
	font-weight: 700;

}
.banner_content_wrapper span {
	font-size: 2em;
}

#main_footer {
	margin: 0 auto;
	padding: .5em 0;
	text-align: center;
}

#series_content{
	width:100%; 
	padding:1em 0;
	
}

.series_wrapper {
	width: 1500px;
	max-width: 90%;
	margin:0 auto;
	
}

.series_description{
	width: 70%;
	float:left;
	padding: 1em 0;

}

.series_description a {
	text-decoration: none;
}
.series_description p {
	font-weight:100;
	font-size: .8em;
}

#add_article {
	padding: 3em;
	background-color: #E1E3E4;
}

.article_wrapper {
	width: 1500px;
	max-width: 90%;
}

.add_components {
	width: 100%;
	max-width: 100%;
}
.add_components span {
	color: red;
}
.add_components label {
	font-size: .9em;
}

.add_components input, textarea {
	border-radius:5px;
	padding: .5em 0 ;
	margin:1em 0;
	border: 1px solid black;
}



.series_text_des{
	width: 100%;
	max-width: 100%;

}

.add_button{
	margin-top: 1em;
	padding: 1em 2em;
	border-radius:5px; 
	border: none;
	background-color: #2185D0;
	font-weight: 700;
	color: white;
}

.delete_button{
	width: 10%;
	text-align: center;
	padding: .09em;
	border-radius: 2px;
	border:solid .02em lightgray;
	color: darkgray;

}
.error {
	background-color: #CC1019;
	color: white;
	border-radius: 3px;
	padding: 0.3em 0.4em;
	font-size: 0.7em;
}

